/* DataTable.css */
.data-table-container {
    margin: 28px;
    padding: 20px;
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .table-title {
    
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  
  /* Custom Table Styling */
  .custom-table {
    color: #ffffff;
  }
  
  .custom-table .ant-table {
    background: #ffffff;
    border-radius: 11px;
  }
  
  .custom-table .ant-table-thead > tr > th {
    background: transparent;
    color: #6b7280;
    font-weight: 600;
    padding: 12px 16px;
  }
  
  .custom-table .ant-table-tbody > tr > td {
    padding: 12px 16px;
    background: transparent;
  }
  
  .custom-table .ant-table-tbody > tr:hover > td {
    background-color: #ebe8e0 !important;
  }
  
  .custom-table .ant-table-pagination {
    color: rgb(46, 45, 43);
  }
  
  .custom-table .ant-pagination-item-active {
    background-color: var(--lightgreen);
    border-color: white;
  }
  
  .custom-table .ant-pagination-item-active a {
    color: var(--light);
  }
  
  .custom-table .ant-pagination-item:hover {
    border-color: #dad4d4;
  }
  
  .custom-table .ant-pagination-item:hover a {
    color: #7e7c7c;
  }
  
  /* Action Buttons */
  .action-button {
    font-size: 16px;
  }
  
  .view-button {
    color: black;
    background-color: #dbdbdb;
    border-radius: 40px;
  }
  
  .edit-button {
    color: rgb(66, 116, 150);
    background-color:#dbdbdb;
    border-radius: 40px;
  }
  
  .delete-button {
    color: rgb(155, 68, 68);
    background-color: #dbdbdb;
    border-radius: 40px;
  }
  
  /* Search Input Styling */
  .search-input {
    color: #000000;
    border-color: #313539;
  }
  
  .search-input::placeholder {
    color: #676b73;
  }
  
  .search-input:focus,
  .search-input:hover {
    border-color: #d32929;
  }
  
  /* Empty Table Message */
  .custom-table .ant-empty-description {
    color: gray;
  }
  
  /* Loading Spinner */
  .custom-table .ant-spin-dot-item {
    justify-content: space-between;
    background-color: #d32929;
  }

  /* Agregar en tu archivo DataTable.css */

.status-active-button {
  color: #ff4d4f;
  background-color: #dbdbdb;
  border-radius: 40px;
}

.status-active-button:hover {
  color: #ff4d4f;
}

.status-inactive-button {
  background-color: #dbdbdb;
  color: #52c41a;
  border-radius: 40px;
}

.status-inactive-button:hover {
  color: #ff4d4f;
}